* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #FFEBD9; /* Nuevo color de fondo */
    color: #333;
    line-height: 1.6;
}

.top-nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.top-nav a, .top-nav button {
    color: #000000; /* Cambia el color de las letras a negro */
    text-decoration: none;
    padding: 10px;
    border: none;
    background: none;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.sidebar {
    background-color: #FD924F;
    position: fixed;
    right: -250px;  
    top: 0;
    width: 250px;
    height: 100%;
    padding: 20px;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;  
}

.sidebar a, .sidebar button {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #FD924F;
}

.close-btn {
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: none;
    align-self: flex-end;
    color: white;
}

.content {
    padding: 20px;
    text-align: center;
    background-color: #FFEBD9;
    border-radius: 100px;
}

h2 {
    text-align: center;
    color: #D83D23;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #FFEBD9;
}

.subtext {
    font-size: 14px;
    margin-bottom: 20px;
    font-family: "Outfit", sans-serif;
}

.fan-id-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-bottom: 20px;
}

.fan-id-form input {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(255, 123, 0, 0.37); /* Fondo naranja */
    font-family: "Roboto", sans-serif; /* Fuente Roboto */
}

.fan-id-form button {
    background-color: #B5DEDE;
    border: none;
    padding: 15px;
    margin: 0 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    cursor: pointer;
    color: #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-text {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}
